photogalleryalbumbe/photogalleryalbumbe/__pycache__
backend/src/photogalleryalbum/__pycache__
frontend/gui/node_modules
backend/src/articles/__pycache__
backend/src/articles/api/__pycache__
backend/src/articles/migrations/__pycache__
